@import url(../../plugins/normalize/normalize.css);
@import url(../global-styles.css);
@import url(../components/page-header.css);
@import url(../components/primary-button.css);
@import url(../components/card.css);
@import url(../components/page-footer.css);
@import url(../components/form.css);
@import url(../components/contact-form.css);
@import url(../components/tabs.css);

body {
    background: #1d1d1d;
    color: #fff;
    cursor: default;
}

.content .header-block {
    padding: 60px 0 64px;
}

h1, h3 {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    margin: 0 auto 24px;
    max-width: 560px;
}

h3 {
    margin: 0 auto;
    max-width: 720px;
    color: #CCCCCC;
}

.tab-content {
    padding: 100px 0;
}

.header-wrapper {
    max-width: 914px;
    display: block;
    margin: 0 auto 100px;
}

.tab-content h2 {
    max-width: 440px;
    margin-bottom: 40px;
    color: #1D1D1D;
}

.tab-content p {
    max-width: 592px;
    color: #454545;
    font-size: 0.750em;
    line-height: 1.5em;
}

.products-list {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 914px;
}

.products-list .product-card {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 60px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.05);
}

@media (max-device-width: 1024px) {
    .header-wrapper {
        margin-left: 0;
    }

    .tab-content {
        padding-left: 32px;
        padding-right: 32px;
    }
}


@media (max-device-width: 766px) {
    h1 {
        font-size: 1.667em; /* 40px */
        max-width: 400px;
    }

    h2 {
        font-size: 1.334em; /* 36px */
        line-height: 1.2em;
    }

    .best-sofas h2 {
        font-size: 1.334em;
        line-height: 1.2em;
    }

    h3 {
        font-size: 0.833em;
        line-height: 1.375em;
        max-width: 380px;
        letter-spacing: 0;
    }

    .mainmenu .menu-item {
        line-height: 2em;
    }
}

@media (max-device-width: 518px) {
    .products-list .product-card {
        margin-right: 14px;
        width: 180px;
        height: 320px;
    }

    .product-card::after {
        display: none;
    }

    .product-card:hover {
        transform: translateY(8px);
    }

    .product-card .product-image {
        top: 30%;
        left: 90%;
    }

    .product-card .product-name {
        bottom: 20px;
        right: 0;
        left: 0;
    }
}

@media (max-device-width: 480px) {
    .content .header-block {
        padding-left: 32px;
        padding-right: 32px;
    }

    .products-list .product-card {
        width: 100%;
    }

    .product-card .product-image {
        margin-top: 60px;
        position: initial;
        margin-top: 0;
        left: 50%;
        position: absolute;
        top: 46%;
    }

    .content .header-block {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-device-width: 420px) {
    .products-list .product-card {
        margin-right: 0;
    }

    .header-block h3 {
        max-width: 300px;
    }

    .product-card .product-image {
        max-width: 130%;
    }
}

@media (max-device-width: 390px) {
    .products-list .product-card {
        width: 100%;
    }

    .content .header-block {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 1.5em;
    }
}
