.card {
    width: 204px;
    height: 352px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    line-height: inherit;
    color: #1b1b1b;
    background-color: #fff;
}

.card .sale-badge {
    --badge-width: 32px;
    position: absolute;
    left: calc(-1 * var(--badge-width) / 2);
    top: 44px;
    width: var(--badge-width);
    transform: rotate(-90deg);
    padding: 10px 12px 6px;
    text-transform: uppercase;
    overflow: hidden;
    color: #fff;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 1.5px;
    background-color: #FF9B42;
    z-index: 1;
}

.card .product-image {
    margin-top: 60px;
}

.card .product-name a {
    display: block;
    margin: 0 auto;
    color: #1b1b1b;
    max-width: 80%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.750em;
    line-height: 1.2em;
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 2.4em;
}

.card:hover {
    transform: translateY(4px);
    transition: all .4s ease-in-out;
}

.card::after {
    content: "Узнать больше";
    display: block;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    font-size: 0.667em;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.card::before {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    opacity: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #3E3F43;
    transition: all .3s ease-in-out;
}

.card:hover::after {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}
