.main-nav {
    display: block;
    width: 100%;
    background-color: #333333;
}

.main-nav .logo {
    display: inline-block;
    position: absolute;
    left: 58px;
    top: 8px;
}

.mainmenu .menu-list {
    text-align: center;
}

.mainmenu .menu-item {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 28px;
    color: #fff;
    line-height: 2.5em;
}

.mainmenu .menu-item a {
    display: inline-block;
    color: #fff;
}

.mainmenu .menu-item a:hover {
    color: #a5a5a5;
    transition: color 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
