.tabs {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.tabs .label {
    width: auto;
    padding: 10px 15px 0;
    opacity: 0.55;
    font-size: 0.75em;
    text-align: center;
    margin: 0 auto;
}

.tabs .label::after {
    content: '';
    display: block;
    background: url(../../images/tab-picker.svg) center 0 no-repeat;
    width: 80px;
    margin: 0 auto;
    height: 23px;
    background-size: 100%;
}

.tabs .label img {
    margin-bottom: 8px;
}

.tabs .tab-name {
    display: block;
    margin-bottom: 12px;
}

.tabs .panel {
    width: 100%;
}

.tabs input[type="radio"]:focus + .label {
    z-index: 1;
}

.tabs input[type="radio"]:checked + .label {
    opacity: 1;
}

.tabs [type=radio] + .label:hover img {
    transform: translateY(5px);
    transition: all .4s ease-in-out;
}

.tabs .panel {
    display: none;
    background: #fff;
    order: 99;
}

.tabs input[type="radio"]:checked + .label + .panel {
    display: block;
}
